/* CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* General styles */

p {
  font-size: 1.25em;
}

ol {
  font-size: 1.25em;
  padding-left: 1em; /* Adjustment for the width of the numbers */
  line-height: 1.6;
}

@media (max-width: 769px) {
  p {
    font-size: 1em;
  }
}

h1 {
  font-size: 8.5vw;
  font-weight: bold;
  margin: 0.25em 0;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.5em 0;
}

h3 {
  font-size: 2.25em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

body {
  margin: 0 10%;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: left;
}

table thead th {
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #a7a7a7;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #a7a7a7c0;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 769px) {
  header {
    flex-direction: row;
  }
}

/* Header Logo */

.logo p {
  font-size: 3em;
  /* font-weight: bold; */
  padding: 1em 0;
}

@media (max-width: 769px) {
  .logo p {
    font-size: 2em;
    padding: 0.5em 0;
  }
}

@media (max-width: 481px) {
  .logo p {
    font-size: 2em;
  }
}

/* Header Navigation */

.nav {
  background-color: black;
  padding: 5px 0;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  background: #444;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.nav-links li {
  padding: 15px;
  text-align: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.25em;
}

.nav-links a.active {
  color: rgb(0, 0, 0);
  background: white;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
  border-radius: 25px;
}

.hamburger {
  display: block;
  cursor: pointer;
  font-size: 24px;
}

/* Larger screens */

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
  }

  .nav-links li {
    padding: 0 15px;
  }
}

/* Smaller screens */

@media (max-width: 769px) {
  .hamburger {
    position: calc(100vh - 50px);
    z-index: 1000;
    font-size: 24px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 50px;
  }

  .nav {
    background: white;
  }

  .nav-links {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 35px;
    left: 33vw;
    width: 50%;
    height: 50%;
    background-color: #333;
    padding: 20px;
    z-index: 1100;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1em;
  }

  .nav-links.active {
    display: flex; /* Show the menu when active */
  }
}

/* Hero */

.hero-section {
  padding: 2em 0;
}

.hero-section-cta-scroll-down {
  font-size: 1.25em;
  text-align: right;
  margin: 0 0 1em 0;
}

.hero-section-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: left;
  margin-top: 2em;
}

.hero-section-text-left {
  width: 50%;
}

.hero-section-text-right {
  width: 50%;
}

@media (max-width: 574px) {
  .hero-section-text {
    flex-direction: column;
  }

  .hero-section-text-left {
    margin: 1em 0;
    width: 100%;
  }

  .hero-section-text-right {
    width: 100%;
  }
}

/* Portfolio */

.portfolio-section p {
  padding: 0 0 1em 0;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 2em 0 0 0; */
}

.portfolio-item {
  width: 50%;
}

@media (max-width: 769px) {
  .portfolio-item {
    width: 100%;
  }
}

/* Video */

.video-section {
}

.video-container p {
  padding: 0 0 1em 0;
}

.video-frame {
  width: 100%;
  text-align: center;
}

.video-frame iframe {
  width: 80%;
  height: calc(50vw * 9 / 16);
}

@media (max-width: 769px) {
  .video-frame iframe {
    width: 100%;
    height: calc(100vw * 7 / 16);
  }
}

/* Services */

.services-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 2em 0; */
}

.services-item {
  width: 50%;
  padding: 0 1em 2em 0;
}

@media (max-width: 587px) {
  .services-item {
    width: 100%;
  }
}

.services-section p {
  padding: 0 0 1em 0;
}

/* Advisor */

.advisor-section {
  background: black;
  color: white;
  padding: 0.25em 0;
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  /* margin: 0.5em 0; */
}

/* Testimonials */

.testimonials-section {
  /* padding: 2.5em 0; */
}

blockquote {
  font-style: italic;
  padding: 0 0 2em 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
}

cite {
  min-width: 25%;
  margin-left: 1em;
}

@media (max-width: 769px) {
  blockquote {
    flex-direction: column;
    align-items: left;
  }

  blockquote p {
    margin: 0 0 1em 0;
  }

  cite {
    min-width: 0;
    margin: 0;
  }
}

@media (max-width: 481px) {
  blockquote {
    flex-direction: column;
    align-items: left;
  }

  blockquote p {
    margin: 0 0 1em 0;
    font-size: 1em;
  }

  cite {
    min-width: 0;
    margin: 0;
    font-size: 0.95em;
  }
}

/* Contact */

.how-the-work-begins h2 {
  font-size: 2.25em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

.how-the-work-begins p {
  line-height: 1.9;
}

@media (max-width: 769px) {
  li {
    font-size: 0.8em;
  }
}

.contact-section {
  padding: 1em 0 1em 0;
  text-align: center;
}

.contact-section p {
  font-size: 8vw;
  font-weight: bold;
}

.contact-buttons-block {
  text-align: center;
  margin: 1em 0 0 0;
}

.contact-section button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 0 auto 0.5em auto;
  cursor: pointer;
  width: 25vw;
  border-radius: 50px;
  font-size: 3vw;
}

.map-container {
  margin: 0;
  padding: 0 0 2em 0;
}

.map-iframe {
  width: 100%;
  height: 450px;
}

/* Contact Form */

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  font-size: 14px;
  margin-top: 5px;
}

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #727272;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
}

@media (max-width: 481px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
  }
}

.footer-link {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

/* Impressum */

.impressum {
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  text-align: center;
}

.boss-image {
  width: 250px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Blog */

.blog-post-list-item img {
  width: 100%;
  /* height: 450px; */
  object-fit: cover;
  margin: 1em 0 0 0;
}

/* Blog Post */

.blog-post-list-item {
  margin-bottom: 2em;
}

.blog-post img {
  width: 100%;
  /* height: 450px; */
  object-fit: cover;
  margin: 0 0 2em 0;
}

.read-more {
  margin: 1em 0;
}

/* Image Gallery */

.gallery-image {
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.05);
}
.gallery-container {
  margin: 16px 0;
}
