/* CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* General styles */

p {
  font-size: 1.25em;
}

ol {
  font-size: 1.25em;
  padding-left: 1em; /* Adjustment for the width of the numbers */
  line-height: 1.6;
}

@media (max-width: 769px) {
  p {
    font-size: 1em;
  }
}

h1 {
  font-size: 8.5vw;
  font-weight: bold;
  margin: 0.25em 0;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.5em 0;
}

h3 {
  font-size: 2.25em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

body {
  margin: 0 10%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Header */

header {
  border: blue 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 769px) {
  header {
    flex-direction: row;
  }
}

.logo {
  font-size: 1.75em;
  font-weight: bold;
  padding: 1em 0;
}

@media (max-width: 769px) {
  .logo {
    font-size: 1.25em;
  }
}

@media (max-width: 481px) {
  .logo {
    font-size: 1em;
  }
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  background: black;
}

.nav li {
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 8px;
  border-radius: 20px;
  background: black;
  color: white;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
  color: white;
  padding: 7.5px 10px;
  border-radius: 20px;
  font-size: 1em;
  gap: 0.5em;
}

.nav ul li a.active {
  margin: 0px -0.375em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  background: white;
  color: black;
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .nav ul {
    font-size: 0.8em; /* Decrease font size */
  }

  .nav li {
    margin: 0 10px;
    padding: 10px 5px;
    border-radius: 20px;
  }
}

@media (max-width: 769px) {
  .hamburger {
    display: block !important; /* Force display of hamburger */
    background-color: red; /* Highlight hamburger for visibility */
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }

  .nav {
    position: relative; /* Ensure proper positioning */
    width: 100%;
  }

  .nav-links {
    display: none; /* Hide by default */

    flex-direction: column; /* Stack vertically */
    position: absolute;
    top: 100%; /* Position below the header */
    left: 0;
    right: 0;
    background: black;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .nav-links.active {
    display: flex !important; /* Force display when active */
  }

  .nav ul {
    width: 50%; /* Ensure full width */
    flex-direction: column;
    align-items: center;
  }

  .nav li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

/* Hero */

.hero-section {
  border: blue 3px solid;
  padding: 2em 0;
}

.hero-section-cta-scroll-down {
  border: red 1px solid;
  font-size: 1.25em;
  text-align: right;
  margin: 0 0 1em 0;
}

.hero-section-text {
  border: red 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: left;
  margin-top: 2em;
}

.hero-section-text-left {
  border: red 1px solid;
  width: 50%;
}

.hero-section-text-right {
  border: red 1px solid;
  width: 50%;
}

@media (max-width: 574px) {
  .hero-section-text {
    flex-direction: column;
  }

  .hero-section-text-left {
    margin: 1em 0;
    width: 100%;
  }

  .hero-section-text-right {
    width: 100%;
  }
}

/* Portfolio */

.portfolio-section {
  border: blue 3px solid;
}

.portfolio-section p {
  padding: 0 0 1em 0;
}

.portfolio-container {
  border: red 1px solid;
  display: flex;
  flex-wrap: wrap;
  /* padding: 2em 0 0 0; */
}

.portfolio-item {
  border: red 1px solid;
  width: 50%;
}

@media (max-width: 769px) {
  .portfolio-item {
    width: 100%;
  }
}

/* Video */

.video-section {
  border: blue 3px solid;
}

.video-container p {
  padding: 0 0 1em 0;
}

.video-frame {
  border: red 3px solid;
  width: 100%;
  padding: 0 0 2em 0;
  text-align: center;
}

.video-frame iframe {
  width: 75%;
  height: calc(50vw * 9 / 16); /* Maintain a 16:9 aspect ratio */
}

/* Services */

.services-section {
  border: blue 3px solid;
}

.services-container {
  border: red 1px solid;
  display: flex;
  flex-wrap: wrap;
  /* padding: 2em 0; */
}

.services-item {
  border: red 1px solid;
  width: 50%;
  padding: 0 1em 2em 0;
}

@media (max-width: 587px) {
  .services-item {
    width: 100%;
  }
}

.services-section p {
  padding: 0 0 1em 0;
}

/* Advisor */

.advisor-section {
  border: blue 3px solid;
  background: black;
  color: white;
  padding: 0.25em 0;
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  /* margin: 0.5em 0; */
}

/* Testimonials */

.testimonials-section {
  border: blue 3px solid;
  /* padding: 2.5em 0; */
}

blockquote {
  font-style: italic;
  padding: 0 0 2em 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
}

cite {
  min-width: 25%;
  margin-left: 1em;
}

@media (max-width: 769px) {
  blockquote {
    flex-direction: column;
    align-items: left;
  }

  blockquote p {
    margin: 0 0 1em 0;
  }

  cite {
    min-width: 0;
    margin: 0;
  }
}

@media (max-width: 481px) {
  blockquote {
    flex-direction: column;
    align-items: left;
  }

  blockquote p {
    margin: 0 0 1em 0;
    font-size: 1em;
  }

  cite {
    min-width: 0;
    margin: 0;
    font-size: 0.95em;
  }
}

/* Contact */

.how-the-work-begins h2 {
  font-size: 2.25em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

.how-the-work-begins p {
  line-height: 1.9;
}

@media (max-width: 769px) {
  li {
    font-size: 0.8em;
  }
}

.contact-section {
  border: blue 3px solid;
  padding: 1em 0 1em 0;
  text-align: center;
}

.contact-section p {
  font-size: 8vw;
  font-weight: bold;
}

.contact-buttons-block {
  text-align: center;
  margin: 1em 0 0 0;
}

.contact-section button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 0 auto 0.5em auto;
  cursor: pointer;
  width: 25vw;
  border-radius: 50px;
  font-size: 3vw;
}

.map-container {
  border: blue 1px solid;
  margin: 0;
  padding: 0 0 2em 0;
}

.map-iframe {
  border: red 3px solid;
  width: 100%;
  height: 450px;
}

/* Footer */

footer {
  border: blue 3px solid;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
}

@media (max-width: 481px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
  }
}

/* Blog */


/* Blog Post */

.blog-post img {
  width: 100%;
  /* height: 450px; */
  object-fit: cover;
  margin: 0 0 2em 0;
}